<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style>
      .divv {
        text-align: center;
        position: center;
      }
      .hh {
        text-align: center;
      }
      .home {
        position: center;
        text-align: center;
        border: none;
        padding: auto;
        width: 150px;
        border-radius: 120px;
        font-size: 20px;
        height: 70px;
        background-color: coral;
      }
      .pic {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="divv">
      <button class="home">
        <a href="login.html">Nutrition Application</a>
      </button>
    </div>
    <p class="pic">
      <img src="frontpic1.jpg" width="1350" height="600" />
    </p>
    <h3 class="hh">
      Need to know about your diet? Jump in and get nutrified!!
    </h3>
  </body>
</html>
